---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../config';
---

<!DOCTYPE html>
<html lang="en-us">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header title={SITE_TITLE} />
		<main>
			<h1>Hello again</h1>
			<p>
				I came back to my blog after 5 years, and thought I will upgrade it.
			</p>
			<p>
				I wasn't particularly happy with the tech-stack for my blog, but recently I've heard about <a href="https://astro.build">Astro</a> and seemed like something I want to use for my blog!
			</p>
			<p>Previosly I used Jekyll. I have no complaints, but Astro just is more "engineeree". And gives me some more options to make this blog more interactive</p>
		
		</main>
		<Footer />
	</body>
</html>
