---
const today = new Date();
---

<footer>
	&copy; {today.getFullYear()} Łukasz Młynik. All rights reserved.<br/>
	This site is open-source <a href="https://github.com/lmlynik/lmlynik.github.io">lmlynik.github.io</a>
</footer>
<script defer data-domain="lmlynik.github.io" src="https://plausible.io/js/plausible.js"></script>

<style>
	
	footer {
		padding: 25px;
		text-align: center;
	}
</style>
