---
---

<style>
	.pull-right {
		float: right;
	}

	.columns {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		width: 100%;
	}

	.tech {
		flex: 33.33%;
	}

	.tech h2 {
		margin-block-end: 0px;
	}

	.tech ul {
		margin-block-start: 0px;
		list-style-type: none;
		padding-inline-start: 0px;
	}
</style>

<section class="columns">
	<div class="tech">
		<h2>Scala</h2>
		<ul>
			<li>Akka</li>
			<li>Play</li>
			<li>ZIO</li>
			<li>Cats Effect</li>
			<li>Monix</li>
		</ul>
	</div>
	<div class="tech">
		<h2>Java</h2>
		<ul>
			<li>Play for Java</li>
			<li>Spring Boot</li>
			<li>Spring Cloud</li>
			<li>JOOQ</li>
			<li>JPA</li>
		</ul>
	</div>
	<div class="tech">
		<h2>Architecture</h2>
		<ul>
			<li>Distributed Computing</li>
			<li>Event Sourcing</li>
			<li>CQRS</li>
			<li>Scalling out systems</li>
		</ul>
	</div>
	<div class="tech">
		<h2>.NET</h2>
		<ul>
			<li>C#</li>
			<li>ASP.MVC</li>
			<li>.NET Core</li>
			<li>Entity Framework</li>
		</ul>
	</div>
	<div class="tech">
		<h2>Web Dev</h2>
		<ul>
			<li>Javascript</li>
			<li>Typescript</li>
			<li>React</li>
			<li>Angular</li>
			<li>GraphQL</li>
			<li>Astro JS</li>
		</ul>
	</div>
	<div class="tech">
		<h2>Databases</h2>
		<ul>
			<li>Postgres</li>
			<li>Mongo</li>
			<li>React</li>
			<li>Mysql</li>
			<li>MSSQL</li>
			<li>AWS DynamoDB</li>
		</ul>
	</div>
	<div class="tech">
		<h2>Cloud</h2>
		<ul>
			<li>Kafka</li>
			<li>Docker</li>
			<li>Kubernetes</li>
			<li>AWS</li>
			<li>Azure</li>
			<li>Google Cloud</li>
			<li>Keycloak</li>
		</ul>
	</div>
</section>
