---
import Skill from "./Skill.astro";

export interface Props {
	expand?: boolean;
}

const { expand } = Astro.props as Props;

const skills = [
	{
		name: "Scala",
		el: [
			{ name: "Akka" },
			{ name: "Play" },
			{ name: "ZIO" },
			{ name: "Cats" },
			{ name: "Monix" },
		],
	},
	{
		name: "Java",
		el: [
			{ name: "Akka" },
			{ name: "Play for Java" },
			{ name: "Spring Boot" },
			{ name: "Spring Cloud" },
			{ name: "JOOQ" },
			{ name: "JPA" },
		],
	},
	{
		name: "Architecture",
		el: [
			{ name: "Distributed Computing" },
			{ name: "Event Sourcing" },
			{ name: "Domain Driven Design" },
			{ name: "CQRS" },
			{ name: "Scalling out systems" },
		],
	},
	{
		name: ".NET",
		el: [
			{ name: "C#" },
			{ name: "ASP.MVC" },
			{ name: "Azure Functions" },
			{ name: "Entity framework" },
		],
	},
	{
		name: "Web dev",
		el: [
			{ name: "Javascript" },
			{ name: "Typescript" },
			{ name: "Angular" },
			{ name: "GraphQL" },
			{ name: "Astro js" },
		],
	},
	{
		name: "Cloud",
		el: [
			{ name: "Kafka" },
			{ name: "Docker" },
			{ name: "Kubernetes" },
			{ name: "AWS" },
			{ name: "Azure" },
			{ name: "Google Cloud" },
			{ name: "Keycloak" },
		],
	},
	{
		name: "Databases",
		el: [
			{ name: "PostgreSQL" },
			{ name: "DynamoDB" },
			{ name: "Cassandra" },
			{ name: "Mongo" },
			{ name: "Redis" },
			{ name: "AWS DynamoDB" },	
		],
	},
];
---

<style>
	.pull-right {
		float: right;
	}

	.columns {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		width: 100%;
	}

	.tech {
		flex: 33.33%;
	}

	.tech h2 {
		margin-block-end: 0px;
	}

	.tech ul {
		margin-block-start: 0px;
		list-style-type: none;
		padding-inline-start: 0px;
	}
</style>

<section class="columns">
	{skills.map((e) => <Skill name={e.name} el={e.el} expand={expand} />)}
</section>